<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 
    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
            <% include ./menubar.ejs %>
    <div id="root"> 
        

        <% include ./leftsidebar.ejs %>

        <div id="con">
            <div id="con2">
                
        <H1 style=""><%=title%></H1>
        <Hr >
        <p>안녕하세요. <%=title%> 페이지 입니다. 매우 반갑습니다.</p> 

            </div>
        
        </div>
        
    </div>
        <% include ./footer.ejs %>
    </body>
</html>