<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 
        <link rel="stylesheet" href="/shCoreDefault.css"></style>
        <link rel="stylesheet" href="/shThemeDefault.css"></style>
        <script type="text/javascript" src="/shCore.js"></script>
        <script type="text/javascript" src="/shBrushJava.js"></script>
        <script type="text/javascript">SyntaxHighlighter.all();</script>
    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
        
        <% include ./menubar.ejs %>

    <div id="root"> 
     

        <% include ./leftsidebar.ejs %>

        <div id="con">
            <div id="con2">
        <!--<H1 ><%=title%></H1>-->
        
        
        <style type="text/css">
        div img { height:100%; width:100%;}
        .mainframe {
            border: 0px solid black;
            float:left;
            padding-left:20%;
            }
        </style>

        <pre style="padding-left:20%" class="brush:java">
        System.out.println("Hello World!");
        // 알고리즘과 풀이들
        // 웹페이지 연습
        </pre>
        <br>
        <div class="mainframe">
            <img src="/main-algo.png">
        </div>
       
       
        
        
            </div>
        
        </div>
        
       

        

    </div>

   <% include ./footer.ejs %>

   
    </body>

    <script type="text/javascript">

    </script>
</html>