<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title> 

    </head>

    <link rel='stylesheet' href="/custom.css">

    <body>
            <% include ./menubar.ejs %>
    <div id="root"> 
        

        <% include ./leftsidebar.ejs %>

        <div id="con">
            <div id="con2">
        <H1 style=""><%=title%></H1>
        <Hr >
        <p>안녕하세요. <%=title%> 페이지 입니다. 반갑습니다. 
            <form id="sub" method="post" action="/board/write">
            <!--<input name="id" type="text" style="width:200px; height:30px;" placeholder='글 번호를 입력하세요.' >-->
            <% if ( !locals.user.displayName ) { %>
                <input id="name" name="name" type="text" style="width:250px; height:30px;" placeholder='작성자를 입력하세요.' >
                <input id="password" name="password" type="password" style="width:250px; height:30px;" placeholder='비밀번호를 입력하세요.' >
                <input type="hidden" name="isFormal" value="0">
            <% }else{ %>
                <input id="name" name="name" type="hidden" style="width:250px; height:30px;" value="<%=user.displayName%>">
                <input id="password" name="password" type="hidden" style="width:250px; height:30px;" value="111">
                <input type="hidden" name="isFormal" value="1">
            <% } %>
            <input id="title" name="title" type="text" style="width:60%; height:30px;" placeholder='글 제목을 입력하세요.' >   
            <textarea id="description" name="description" style="width:90%; height:400px" ></textarea>
            <button type="button" class="btn-1" onclick="beforego()" style="float:left; width:150px; height:50px">글쓰기</button>
            <button type="button" class="btn-1" style="float:left; width:200px; height:50px" onclick="goback()">글 목록보기</button>
            </form>
            </div>
        </div>
        
        
    </div>
          <% include ./footer.ejs %>
    </body>

     <script type="text/javascript">
        function goback(){
            location.href='/board';
        }

        function beforego(){
            if(document.getElementById('name').value == ""){
                alert('작성자명을 입력해 주세요!');
                return;
            }
            if(document.getElementById('password').value == ""){
                alert('글 비밀번호를 입력해 주세요!');
                return;
            }
            if(document.getElementById('title').value == ""){
                alert('제목을 입력해 주세요!');
                return;
            }
            if(document.getElementById('description').value == ""){
                alert('내용을 입력해 주세요!');
                return;
            }
            
            document.getElementById('sub').submit();
        }
    </script>
</html>