<!DOCTYPE HTML>
<html>
<head>
    <title> 세션 연습 </title>
</head>
<body>
<form method="post" action='/auth/register'>
<h1> Register </h1>
<input type='text' name='authId' placeholder="id"> <br><br>
<input type='password' name='passwd' placeholder="password"> <br><br>
<input type='text' name='username' placeholder="username"> <br><br>
<input type='text' name='displayName' placeholder="displayName"> <br><br>
<input type='text' name='email' placeholder="email"> <br><br>
<input type="submit" value='회원가입 제출'>
</form>
</body>


<script>
    
</script>
    
</html>